@(message: String)(implicit request: Request[Any])
@import helper._
@main("post") {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/post.css")">
    </head>
    <body id="create_post_page">
        <div id="post_form">
            @form(routes.PostController.post()) {
                @CSRF.formField
                <p class="h4 mb-4">投稿</p>
                <div class="form-group">
                    <textarea id="content_field exampleFormControlTextarea2" class="form-control rounded-0" rows="5" placeholder="Message" name="content"></textarea>
                    <p id="error-message" class="error-message disabled"></p>
                    <p th:text="${contentErrorText}" class="error-message"></p>
                </div>
                <button id="post_submit" class="btn btn-info btn-block" type="submit">投稿する</button>
            }
        </div>
    </body>
}

